{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href={{ path('app_post_index') }}>{{ ux_icon('mdi:arrow-back', { 'class': 'h-1 w-1' }) }}Back to posts</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
