{% extends 'base.html.twig' %}

{% block title %}Create new post{% endblock %}

{% block body %}
    <h1>Create new post</h1>

    {{ include('post/_form.html.twig') }}

    <a href={{ path('app_post_index') }} class="btn btn-primary btn-sm rounded-pill text-dark">{{ ux_icon('mdi:arrow-back', { 'class': 'h-1 w-1' }) }} Back to posts</a>
{% endblock %}
